includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon
  - vendor/nunomaduro/larastan/extension.neon

parameters:
  level: 8

  paths:
    - app
    - tests

  excludePaths:
    - vendor

  inferPrivatePropertyTypeFromConstructor: true